@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamProBlack.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamProBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamProLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamProMedium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamProRegular.ttf") format("truetype");
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button, textarea, input {
  font-family: 'Gotham', sans-serif;
}

body {
  font-family: 'Gotham', sans-serif;
  background: #A1D2FF;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 600;
}

.rexona-btn {
  background: #00C094;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: 0;
  outline: none;
  padding: 20px 80px 18px;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.rexona-btn:not(.rexona-btn--disabled):hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.rexona-btn--disabled {
  background: #A0BAD2;
  box-shadow: 0;
  cursor: default;
}

.blue {
  color: #289EFC;
}

.social-icon {
  display: inline-block;
  background: url(../img/socials.png);
  cursor: pointer;
  width: 21px;
  height: 18px;
  margin-right: 25px;
}

.social-icon--vk {
  background-position: -42px 0;
}