<template>
   <div class="main">
    <HeaderBlock active="contest"/>
    
    <div class="advice-header-container">
      <div class="advice-header-info" v-if="leaveComment">
        <div class="advice-header-info__text">
          Отлично! Благодарим за участие в конкурсе! 
        </div>
      </div>
      <div class="advice-header-info" v-else>
        <div class="advice-header-info__text advice-header-info__text--margin">
          Оставь свой совет! 
        </div>
        <button class="rexona-btn" @click="$router.push('/contest')">НАПИСАТЬ</button>
      </div>
      
      <div class="header-title">
        «Чтобы чувствовать себя уверенно, я...»
      </div>
    </div>
    
    <div class="comments-container">
      <div class="comment" v-for="item in commentList">
        <img :src="item.user.photo" alt="" class="comment__img">
        <span class="comment__date">{{ item.date }}</span>
        <span class="comment__remove" 
          v-if="admins.indexOf(activity.user.id_str) > -1" 
          @click="removeComment(item.key)">
          Удалить
        </span>
        <div class="comment__name">{{ item.user.name }}</div>
        <div class="comment__text">{{ item.comment }}</div>
        <div class="comment__social-container">
          <div class="comment__social-like">
            <img 
              :src="activity.liked.indexOf(item.key) > -1 ? `${cdn}like-active.png` : `${cdn}like.png`" 
              class="comment__social-like-img"
              @click="likeComment(item.key)">
            <div class="comment__social-like-count">({{ item.like }})</div>
          </div>
<!--
          <div class="comment__social-repost">
            <img 
              :src="activity.reposted.indexOf(item.key) > -1 ? `${cdn}repost-active.png` : `${cdn}repost.png`" 
              class="comment__social-repost-img">
            <div class="comment__social-repost-count">({{ item.repost }})</div>
          </div>
-->
        </div>
      </div>
      <div class="get-next-container" v-if="currentPage > -1">
        <button class="rexona-btn" @click="getComments">ЗАГРУЗИТЬ ЕЩЁ</button>
      </div>
    </div>
    
    <Loader v-if="loading"/>
    <Popup 
      v-if="popup"  
      @close="popup = false"
      :type="popupType"/>
   </div>
</template>

<script>
  import appOptions from '../assets/js/settings';
  import Auth from '../assets/js/auth';
  import API from '../assets/js/api';
  import Cookie from '../assets/js/cookie';
  import Activity from '../assets/js/activity';
  import HeaderBlock from './Header';
  import Loader from './Loader';
  import Popup from './Popup';

  export default {
    name: 'contest',
    data() {
      return {
        cdn: appOptions.cdnPath,
        admins: appOptions.adminIds,
        popup: false,
        popupType: '',
        loading: false,
        currentPage: 1,
        leaveComment: false,
        commentList: [],
        activity: { liked: [], reposted: [] },
      };
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
    },
    created() {
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
      window.scroll({ top: 0, left: 0 });
      this.getComments();
    },
    methods: {
      checkSession() {
        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          API.getUserInfo((data) => {
            this.loading = false;
            that.user = data;
            Activity.get(that.user, (activityData) => {
              that.activity = activityData;
              that.leaveComment = that.activity.comment > 0;
            });
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
          this.loading = false;
        }
      },
      likeComment(key) {
        if (this.activity.liked.indexOf(key) > -1) {
          this.activity.liked.splice(this.activity.liked.indexOf(key), 1);
          this.loading = true;
          API.getKeyFromDB({ key }, (res) => {
            this.loading = false;
            if (res.Value) {
              const dbComment = JSON.parse(res.Value);
              const comment = this.getCommentByKey(key);
              dbComment.like -= 1;
              comment.like = dbComment.like;
              this.setComment(comment);
              this.editComment(comment);
            }
          });
        } else {
          this.activity.liked.push(key);
          this.loading = true;
          API.getKeyFromDB({ key }, (res) => {
            this.loading = false;
            if (res.Value) {
              const dbComment = JSON.parse(res.Value);
              const comment = this.getCommentByKey(key);
              dbComment.like += 1;
              comment.like = dbComment.like;
              this.setComment(comment);
              this.editComment(comment);
            }
          });
        }
        Activity.set();
      },
      getCommentByKey(key) {
        return this.commentList.filter(item => item.key === key)[0];
      },
      setComment(comment) {
        for (let i = 0; i < this.commentList.length; i += 1) {
          if (this.commentList[i].key === comment.key) {
            this.commentList.splice(i, 1, comment);
            return;
          }
        }
      },
      editComment(comment) {
        this.loading = true;
        API.addKeyToDB({
          label: `${appOptions.provider}-advice`,
          key: comment.key,
          value: JSON.stringify({
            user: comment.user,
            comment: comment.comment,
            like: comment.like,
            repost: comment.repost,
          }),
        }, () => {
          this.loading = false;
        });
      },
      removeComment(key) {
        this.loading = true;
        API.deleteKeyFromDB(key, () => {
          this.loading = false;
          const comment = this.getCommentByKey(key);
          for (let i = 0; i < this.commentList.length; i += 1) {
            if (this.commentList[i].key === comment.key) {
              this.commentList.splice(i, 1);
              return;
            }
          }
        });
      },
      getComments() {
        this.loading = true;
        API.getKeysFromDB({
          label: `${appOptions.provider}-advice`,
          pageNumber: this.currentPage,
          pageSize: 10,
        }, (res) => {
          this.loading = false;
//          console.log(res);
          this.currentPage = res.Paging.next !== null ? this.currentPage + 1 : -1;
          for (let i = 0; i < res.Keys.length; i += 1) {
            const tmp = JSON.parse(res.Keys[i].Value);
            tmp.key = res.Keys[i].Key;
            tmp.date = this.getDate(res.Keys[i].CreatedDate);
            this.commentList.push(tmp);
          }
        });
      },
      getDate(parseDate) {
        const date = new Date(parseDate);
        return `${date.getDate()}.${(date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1)}.${date.getFullYear()}`;
      },
    },
    computed: {
      mosreg() {
        return window.location.href.indexOf('mosreg') > -1;
//        return true;
      },
    },
  };
</script>

<style scoped>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';
  
  .advice-header-container {
    max-width: 1200px;
    margin: 30px auto 0;
  }

  .advice-header-info {
    width: 553px;
    display: inline-flex;
    align-items: center;
    border: 6px solid #fff;
    height: 210px;
    padding: 0 100px 0 58px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
  }

  .advice-header-info__text {
    color: #fff;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 600;
  }

  .header-title {
    background: linear-gradient(270deg, #9A95FF 1.66%, #4A39FF 100%);
    display: inline-block;
    vertical-align: top;
    margin-top: 70px;
    padding: 90px 47px 60px;
    font-size: 42px;
    line-height: 1.3;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    width: 642px;
    position: relative;
    z-index: 1;
    margin-left: -76px;
    box-sizing: border-box;
  }
  
  .advice-header-info__text--margin {
    margin-bottom: 20px;
  }
  
  .comments-container {
    background: #F3F9FF;
    padding: 80px 0 68px;
  }

  .comment {
    max-width: 1115px;
    margin: 0 auto 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 40px 87px 54px 230px;
    position: relative;
  }

  .comment__img {
    position: absolute;
    top: -20px;
    left: 40px;
  }

  .comment__name {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 18px;
  }

  .comment__text {
    font-size: 18px;
    line-height: 1.2;
  }

  .comment__date {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 14px;
  }

  .comment__social-container {
    position: absolute;
    bottom: 20px;
    right: 40px;
  }

  .comment__social-like {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
  }

  .comment__social-repost {
    display: inline-flex;
    align-items: center;
  }

  .comment__social-like-count {
    margin-left: 8px;
    font-size: 14px;
  }

  .comment__social-like-img {
    width: 20px;
    cursor: pointer;
  }

  .comment__social-repost-img {
    width: 28px;
  }

  .comment__social-repost-count {
    font-size: 14px;
    margin-left: 8px;
  }
  
  .get-next-container {
    text-align: center;
  }
  
  .comment__remove {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    top: 20px;
    right: 40px;
    position: absolute;
  }
</style>