<template>
   <div class="main">
    <HeaderBlock active="contest"/>
    
    <div class="contest-header-container">
      <div class="contest-header">
        <div class="header-thin">
          СОВЕТЫ
        </div>
        <div class="header-thick">
          «Чтобы чувствовать себя уверенно, я...»
        </div>
        <div class="header-text">
          Делись своими секретами уверенности в себе   
        </div>
      </div>
      <div class="content-slider-container">
<!--        <div class="contest-slider__title">ПРИЗЫ ОТ REXONA</div>-->
        <div class="contest-slider">
          <div class="contest-slider__title">Победители конкурса:</div>
          <div class="winner"><a href="https://dnevnik.ru/user/user.aspx?user=1000006959082" target="_blank">Полина Минеева</a></div>
          <div class="winner"><a href="https://dnevnik.ru/user/user.aspx?user=1000000902682" target="_blank">Кристина Костылева</a></div>
<!--
          <transition name="slider" mode="out-in">
            <img v-if="activeSlide === 1" :src="`${cdn}s2.png`" key="2" class="slide contest-slide2">
            <img v-if="activeSlide === 2" :src="`${cdn}s3.png`" key="3" class="slide contest-slide3">
          </transition>
          <div class="bullets-container">
            <div class="bullet" :class="[activeSlide === 1 ? 'bullet-active' : '']"></div>
            <div class="bullet" :class="[activeSlide === 2 ? 'bullet-active' : '']"></div>
          </div>
          <div class="arrows-container">
            <img :src="`${cdn}arrow-right.png`" @click="getSlide(-1)" class="arrow arrow-left">
            <img :src="`${cdn}arrow-right.png`" @click="getSlide(1)" class="arrow arrow-right">
          </div>
-->
        </div>
      </div>
    </div>
    
    <div class="contest-input-container">
      <textarea 
        class="contest__textarea" 
        placeholder="Введите текст здесь" 
        v-model="userComment"
        @focus="warnMessage = ''">
        {{ userComment }}
      </textarea>
      <div class="contest__warn">{{ warnMessage }}</div>
      <button class="rexona-btn" @click="sendComment">ОТПРАВИТЬ</button><br>
      <span class="contest__skip" @click="$router.push('/advice')">Написать совет позже</span>
    </div>
    
    <Loader v-if="loading"/>
    <Popup 
      v-if="popup"  
      @close="popup = false"
      :type="popupType"/>
   </div>
</template>

<script>
  import appOptions from '../assets/js/settings';
  import Auth from '../assets/js/auth';
  import API from '../assets/js/api';
  import Cookie from '../assets/js/cookie';
  import Activity from '../assets/js/activity';
  import HeaderBlock from './Header';
  import Loader from './Loader';
  import Popup from './Popup';

  export default {
    name: 'contest',
    data() {
      return {
        cdn: appOptions.cdnPath,
        popup: false,
        popupType: '',
        loading: false,
        activeSlide: 1,
        userComment: '',
        warnMessage: '',
      };
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
    },
    created() {
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
      window.scroll({ top: 0, left: 0 });
      this.startSlider();
    },
    methods: {
      checkSession() {
        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          API.getUserInfo((data) => {
            this.loading = false;
            that.user = data;
            Activity.get(that.user, (activityData) => {
              that.activity = activityData;
            });
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
          this.loading = false;
        }
      },
      getSlide(direction) {
        this.stopSlider();
        if (direction > 0) {
          this.activeSlide = this.activeSlide === 2 ? 1 : this.activeSlide += 1;
        } else {
          this.activeSlide = this.activeSlide === 1 ? 2 : this.activeSlide -= 1;
        }
        setTimeout(() => {
          this.startSlider();
        }, 2000);
      },
      startSlider() {
        this.stopSlider();
        this.sliderTimer = setInterval(() => {
          this.activeSlide = this.activeSlide === 2 ? 1 : this.activeSlide += 1;
        }, 4000);
      },
      stopSlider() {
        clearInterval(this.sliderTimer);
      },
      sendComment() {
        this.warnMessage = '';
        this.userComment = this.userComment.trim();
        if (this.userComment.length > 0 && this.userComment.length < 1500) {
          this.loading = true;
          this.activity.comment += 1;
          Activity.set();
          API.addKeyToDB({
            label: `${appOptions.provider}-advice`,
            key: `${appOptions.provider}-advice_${new Date().getTime()}`,
            value: JSON.stringify({
              user: {
                id: this.user.id_str,
                name: `${this.user.firstName} ${this.user.lastName}`,
                photo: this.user.photoLarge,
              },
              comment: this.userComment,
              like: 0,
              repost: 0,
            }),
          }, () => {
            this.loading = false;
            this.warnMessage = 'Ваш совет успешно опубликован!';
            this.userComment = '';
            this.$router.push('/advice');
          });
        } else if (this.userComment.length > 1500) {
          this.warnMessage = 'Совет не должен быть длиннее 1500 символов.';
        }
      },
    },
    computed: {
      mosreg() {
        return window.location.href.indexOf('mosreg') > -1;
//        return true;
      },
    },
  };
</script>

<style scoped>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';
  
  .contest-header {
    background: linear-gradient(270deg, #9A95FF 1.66%, #4A39FF 100%);
    display: inline-block;
    color: #fff;
    padding: 45px 192px 30px 40px;
  }

  .contest-header-container {
    max-width: 1200px;
    margin: 40px auto 0;
  }

  .header-thin {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .header-thick {
    font-weight: 900;
    font-size: 46px;
    max-width: 655px;
    text-transform: uppercase;
    line-height: 1.3;
  }

  .header-text {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.3;
    max-width: 667px;
  }

  .header-link {
    display: inline-block;
    cursor: pointer;
    color: #0E0B2F;
    font-weight: 600;
    text-decoration-line: underline;
  }
  
  .content-slider-container {
    border: 6px solid #FFFFFF;
    display: inline-block;
    vertical-align: top;
    width: 454px;
    height: 240px;
    margin: 125px 0 0 -170px;
    position: relative;
  }
  
  .contest-slider__title {
    position: absolute;
    right: 0;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    top: -49px;
  }
  
  .slide {
    position: absolute;
  }
  
  .contest-slide2 {
    top: -172px;
    left: 22px;
  }
  
  .contest-slide3 {
    top: -66px;
    left: -62px;
  }

  .arrows-container {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 4;
  }

  .arrow {
    width: 46px;
    cursor: pointer;
  }

  .arrow-left {
    transform: rotate(180deg);
    margin-right: 15px;
  }
  
  .bullets-container {
    position: absolute;
    bottom: -28px;
    text-align: center;
    width: 100%;
  }

  .bullet {
    width: 14px;
    height: 14px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
  }

  .bullet-active {
    background: #289EFC;
  }
  
  .main {
    background: url(../assets/img/contest-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   }
  
  .contest-input-container {
    margin: 90px auto 0;
    max-width: 1200px;
    text-align: center;
    padding-bottom: 85px;
  }

  .contest__textarea {
    width: 1000px;
    height: 298px;
    border-radius: 4px;
    border: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 50px;
    box-sizing: border-box;
    font-size: 20px;
    outline: none;
/*    margin-bottom: 40px;*/
  }

  .contest__skip {
    cursor: pointer;
    color: #192B55;
    font-size: 20px;
    font-weight: 700;
    margin-top: 27px;
    display: inline-block;
  }
  
  .contest__skip:hover {
    text-decoration: underline;
  }
  
  .contest__warn {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    height: 20px;
  }
  
  .winner {
    font-size: 25px;
    /* text-align: center; */
    margin-bottom: 19px;
    font-weight: 700;
  }

  .contest-slider {
    padding: 40px;
    text-align: center;
  }
</style>