<template>
   <div class="main">
    <HeaderBlock active="game"/>
    <div class="game-container" :class="[gender === 'F' ? 'game-container--girl' : '']">
      <div class="game-content">
        <div class="game-left">
          <div class="game__title">{{ getTitle() }}</div>
          <div class="game__desc" v-html="getDesc()"></div>
            
          <template v-if="currentStep === 6 && gender === 'F'">
            <img :src="`${cdn}game/r-g.png`" alt="" class="rexona-img rexona-img--g" @click="selectedItem = 1">
          </template>

          <template v-if="currentStep === 6 && gender === 'M'">
            <img :src="`${cdn}game/r-b.png`" alt="" class="rexona-img rexona-img--b" @click="selectedItem = 1">
          </template>
          
          <div class="game-slider">
            <template v-if="currentStep === 1 && gender === 'F'">
              <div class="slider-item" 
                v-if="slides.indexOf(1) > -1" 
                @click="selectedItem = 1; persHead = `${cdn}game/g-h1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 1 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-h1.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                v-if="slides.indexOf(2) > -1" 
                @click="selectedItem = 2; persHead = `${cdn}game/g-h2.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 2 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-h2-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(3) > -1"
                 @click="selectedItem = 3; persHead = `${cdn}game/g-h3.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 3 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-h3.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" v-if="slides.indexOf(4) > -1"
                 @click="selectedItem = 4; persHead = `${cdn}game/g-h4.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 4 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-h4.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" v-if="slides.indexOf(5) > -1"
                @click="selectedItem = 5; persHead = `${cdn}game/g-h5.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 5 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-h5.png`" alt="" class="slider-img">
              </div>
            </template>
            
            <template v-if="currentStep === 1 && gender === 'M'">
              <div class="slider-item" 
                v-if="slides.indexOf(1) > -1" 
                @click="selectedItem = 1; persHead = `${cdn}game/b-h1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 1 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-h1.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                v-if="slides.indexOf(2) > -1" 
                @click="selectedItem = 2; persHead = `${cdn}game/b-h2.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 2 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-h2.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(3) > -1"
                 @click="selectedItem = 3; persHead = `${cdn}game/b-h3.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 3 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-h3.png`" alt="" class="slider-img">
              </div>
            </template>
            
            <template v-if="currentStep === 2 && gender === 'F'">
              <div class="slider-item" 
                v-if="slides.indexOf(1) > -1" 
                @click="selectedItem = 1; persTop = `${cdn}game/g-t1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 1 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-t1-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                v-if="slides.indexOf(2) > -1" 
                @click="selectedItem = 2; persTop = `${cdn}game/g-t2.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 2 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-t2-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(3) > -1"
                 @click="selectedItem = 3; persTop = `${cdn}game/g-t3.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 3 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-t3-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(4) > -1"
                 @click="selectedItem = 4; persTop = `${cdn}game/g-t4.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 4 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-t4-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(5) > -1"
                 @click="selectedItem = 5; persTop = `${cdn}game/g-t5.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 5 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-t5-c.png`" alt="" class="slider-img">
              </div>
            </template>
            
            <template v-if="currentStep === 2 && gender === 'M'">
              <div class="slider-item" 
                v-if="slides.indexOf(1) > -1" 
                @click="selectedItem = 1; persTop = `${cdn}game/b-t1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 1 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-t1-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                v-if="slides.indexOf(2) > -1" 
                @click="selectedItem = 2; persTop = `${cdn}game/b-t2.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 2 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-t2-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(3) > -1"
                 @click="selectedItem = 3; persTop = `${cdn}game/b-t3.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 3 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-t3-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(4) > -1"
                 @click="selectedItem = 4; persTop = `${cdn}game/b-t4.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 4 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-t4-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(5) > -1"
                 @click="selectedItem = 5; persTop = `${cdn}game/b-t5.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 5 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-t5-c.png`" alt="" class="slider-img">
              </div>
            </template>
            
            <template v-if="currentStep === 3 && gender === 'F'">
              <div class="slider-item" 
                v-if="slides.indexOf(1) > -1" 
                @click="selectedItem = 1; persBottom = `${cdn}game/g-b1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 1 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-b1-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                v-if="slides.indexOf(2) > -1" 
                @click="selectedItem = 2; persBottom = `${cdn}game/g-b2.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 2 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-b2-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(3) > -1"
                 @click="selectedItem = 3; persBottom = `${cdn}game/g-b3.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 3 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-b3-c.png`" alt="" class="slider-img">
              </div>
            </template>
            
            <template v-if="currentStep === 3 && gender === 'M'">
              <div class="slider-item" 
                v-if="slides.indexOf(1) > -1" 
                @click="selectedItem = 1; persBottom = `${cdn}game/b-b1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 1 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-b1.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                v-if="slides.indexOf(2) > -1" 
                @click="selectedItem = 2; persBottom = `${cdn}game/b-b2.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 2 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-b2.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(3) > -1"
                 @click="selectedItem = 3; persBottom = `${cdn}game/b-b3.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 3 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-b3.png`" alt="" class="slider-img">
              </div>
            </template>
            
             <template v-if="currentStep === 4 && gender === 'F'">
              <div class="slider-item" 
                v-if="slides.indexOf(1) > -1" 
                @click="selectedItem = 1; persShoes = `${cdn}game/g-s1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 1 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-s1-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                v-if="slides.indexOf(2) > -1" 
                @click="selectedItem = 2; persShoes = `${cdn}game/g-s2.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 2 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-s2-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(3) > -1"
                 @click="selectedItem = 3; persShoes = `${cdn}game/g-s3.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 3 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-s3-c.png`" alt="" class="slider-img">
              </div>
            </template>
            
             <template v-if="currentStep === 4 && gender === 'M'">
              <div class="slider-item" 
                v-if="slides.indexOf(1) > -1" 
                @click="selectedItem = 1; persShoes = `${cdn}game/b-s1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 1 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-s1.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                v-if="slides.indexOf(2) > -1" 
                @click="selectedItem = 2; persShoes = `${cdn}game/b-s2.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 2 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-s2.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(3) > -1"
                 @click="selectedItem = 3; persShoes = `${cdn}game/b-s3.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 3 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-s3.png`" alt="" class="slider-img">
              </div>
            </template>
            
            <template v-if="currentStep === 5 && gender === 'M'">
              <div class="slider-item" 
                v-if="slides.indexOf(1) > -1" 
                @click="selectedItem = 1; persAcc = `${cdn}game/b-a1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 1 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-a1-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                v-if="slides.indexOf(2) > -1" 
                @click="selectedItem = 2; persAcc = `${cdn}game/b-a2.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 2 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-a2-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(3) > -1"
                 @click="selectedItem = 3; persAcc = `${cdn}game/b-a3.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 3 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-a3-c.png`" alt="" class="slider-img">
              </div>
            </template>
            
            <template v-if="currentStep === 5 && gender === 'F'">
              <div class="slider-item" 
                v-if="slides.indexOf(1) > -1" 
                @click="selectedItem = 1; persAcc = `${cdn}game/b-a1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 1 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-a1-c.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                v-if="slides.indexOf(2) > -1" 
                @click="selectedItem = 2; persAcc = `${cdn}game/g-a1.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 2 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/g-a1.png`" alt="" class="slider-img">
              </div>
              <div class="slider-item" 
                 v-if="slides.indexOf(3) > -1"
                 @click="selectedItem = 3; persAcc = `${cdn}game/b-a3.png`;">
                <div class="slider-bullet" 
                  :class="selectedItem === 3 ? 'slider-bullet--active' : ''"></div>
                <img :src="`${cdn}game/b-a3-c.png`" alt="" class="slider-img">
              </div>
            </template>
            
            <template v-if="slideCount > 3 && currentStep < 6">
              <div class="slider-controls">
                <img :src="`${cdn}arrow-right.png`" @click="slider(-1)" class="arrow arrow-left">
                <img :src="`${cdn}arrow-right.png`" @click="slider(1)" class="arrow arrow-right">
              </div>
            </template>
          </div>
          <div class="game-controls">
            <img :src="`${cdn}game/prev.png`" v-if="currentStep > 1" class="prev-step" @click="toPrevStep">
            <button class="rexona-btn" :class="!selectedItem && currentStep !== 5 ? 'rexona-btn--disabled' : ''" @click="setStep" v-html="currentStep < 6 ? 'ГОТОВО!' : 'Запомнить образ'"></button>
          </div>
        </div>
        <div class="game-right">
          <div class="social-container--game">
            <a target="_blank" :href="`https://vk.com/share.php?url=${window.location.origin}${window.location.pathname}&title=Твоя уверенность - твоя сила!&image=https://ad.csdnevnik.ru/special/staging/rexona/img/share.jpg`" class="social-icon--game social-icon--game--vk"></a>
            <a target="_blank" :href="`https://connect.ok.ru/offer?url=${window.location.origin}${window.location.pathname}&title=Твоя уверенность - твоя сила!&imageUrl=https://ad.csdnevnik.ru/special/staging/rexona/img/share.jpg`" class="social-icon--game social-icon--game--ok"></a>
          </div>
          <template v-if="gender === 'M'">
            <div class="pers pers--boy">
              <img :src="persHead" alt="" class="pers__head pers__head--boy">
              <img :src="persTop" alt="" class="pers__top pers__top--boy">
              <img :src="persBottom" alt="" class="pers__bottom pers__bottom--boy">
              <img :src="persShoes" alt="" class="pers__shoes pers__shoes--boy">
              <img :src="`${cdn}game/b-a1.png`" 
                v-if="(selectedItem === 1 && currentStep === 5) || (result[5].id === 1 && currentStep !== 5)" 
                class="pers__acc pers__acc--b2">
              <img :src="`${cdn}game/b-a2.png`" 
                v-if="(selectedItem === 2 && currentStep === 5) || (result[5].id === 2 && currentStep !== 5)" 
                class="pers__acc pers__acc--b1">
              <img :src="`${cdn}game/b-a3.png`" 
                v-if="(selectedItem === 3 && currentStep === 5) || (result[5].id === 3 && currentStep !== 5)" 
                class="pers__acc pers__acc--b3">
                
              <img :src="`${cdn}game/r-b.png`" 
                v-if="selectedItem === 1 && currentStep === 6" 
                class="pers__des pers__des--b">  
            </div>
          </template>
          <template v-if="gender === 'F'">
            <div class="pers">
              <img :src="persHead" alt="" class="pers__head">
              <img :src="persTop" alt="" class="pers__top">
              <img :src="persBottom" alt="" class="pers__bottom">
              <img :src="persShoes" alt="" class="pers__shoes" :class="(selectedItem === 3 && currentStep === 4) || (result[4].id === 3 && currentStep !== 4) ? 'pers__shoes--3' : ''">
              <img :src="`${cdn}game/b-a1.png`" 
                v-if="(selectedItem === 1 && currentStep === 5) || (result[5].id === 1 && currentStep !== 5)" 
                class="pers__acc pers__acc--g2">
              <img :src="`${cdn}game/g-a1.png`" 
                v-if="(selectedItem === 2 && currentStep === 5) || (result[5].id === 2 && currentStep !== 5)" 
                class="pers__acc pers__acc--g1">
              <img :src="`${cdn}game/b-a3.png`" 
                v-if="(selectedItem === 3 && currentStep === 5) || (result[5].id === 3 && currentStep !== 5)" 
                class="pers__acc pers__acc--g3">
                
              <img :src="`${cdn}game/r-g.png`" 
                v-if="selectedItem === 1 && currentStep === 6" 
                class="pers__des pers__des--g">  
            </div>
          </template>
          
          <div class="progressbar-container">
            <div class="progressbar__score"><span class="blue">{{ currentStep }}</span>/6</div>
            <div class="progressbar-line">
              <div class="progressbar-progress" :style="{ width: `${(currentStep * 100) / 6}%` }"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <Loader v-if="loading"/>
    <Popup 
      v-if="popup"  
      @close="popup = false"
      :type="popupType"
      :gender="gender"/>
   </div>
</template>

<script>
  import appOptions from '../assets/js/settings';
  import Auth from '../assets/js/auth';
  import API from '../assets/js/api';
  import Cookie from '../assets/js/cookie';
  import Activity from '../assets/js/activity';
  import HeaderBlock from './Header';
  import Loader from './Loader';
  import Popup from './Popup';

  export default {
    name: 'contest',
    data() {
      return {
        cdn: appOptions.cdnPath,
        admins: appOptions.adminIds,
        popup: false,
        popupType: '',
        loading: false,
        activity: {},
        gender: 'M',
        slides: [1, 2, 3],
        slideCount: 5,
        currentStep: 1,
        selectedItem: false,
        persHead: `${appOptions.cdnPath}game/g-h1.png`,
        persTop: `${appOptions.cdnPath}game/g-t1.png`,
        persBottom: `${appOptions.cdnPath}game/g-b1.png`,
        persShoes: `${appOptions.cdnPath}game/g-s1.png`,
        result: { 1: {}, 2: {}, 3: {}, 4: {}, 5: {}, 6: {} },
      };
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
    },
    created() {
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
      window.scroll({ top: 0, left: 0 });
      document.addEventListener('click', this.clickHandler);
    },
    methods: {
      clickHandler(e) {
        if (e.target.className.indexOf('rexona-link') > -1) {
          this.popupType = 'des';
          this.popup = true;
        }
      },
      checkSession() {
        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          API.getUserInfo((data) => {
            that.user = data;
            that.gender = that.user.sex[0];
//            that.gender = 'M';
            Activity.get(that.user, (activityData) => {
              this.loading = false;
              that.activity = activityData;
              this.popupType = 'gameStart';
              this.popup = true;
              if (typeof that.activity.pers === 'object') {
                that.result = that.activity.pers;
              }
              that.leaveComment = that.activity.comment > 0;
              this.config();
            });
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
          this.loading = false;
        }
      },
      config() {
        if (this.gender === 'M' && this.currentStep === 1) {
          this.persHead = this.result[1].img || `${appOptions.cdnPath}game/b-h1.png`;
          this.persTop = this.result[2].img || `${appOptions.cdnPath}game/b-t1.png`;
          this.persBottom = this.result[3].img || `${appOptions.cdnPath}game/b-b1.png`;
          this.persShoes = this.result[4].img || `${appOptions.cdnPath}game/b-s1.png`;
          this.persAcc = this.result[5].img || '';
          this.slideCount = 3;
        } else if (this.currentStep === 1) {
          this.persHead = this.result[1].img || `${appOptions.cdnPath}game/g-h1.png`;
          this.persTop = this.result[2].img || `${appOptions.cdnPath}game/g-t1.png`;
          this.persBottom = this.result[3].img || `${appOptions.cdnPath}game/g-b1.png`;
          this.persShoes = this.result[4].img || `${appOptions.cdnPath}game/g-s1.png`;
          this.persAcc = this.result[5].img || '';
          this.slideCount = 5;
        } else if (this.currentStep === 2) {
          this.slideCount = 5;
        } else if (this.currentStep === 3 || this.currentStep === 4 || this.currentStep === 5) {
          this.slideCount = 3;
        }
        this.slides = [1, 2, 3];
        this.selectedItem = this.result[this.currentStep].id || false;
      },
      slider(direction) {
        if (direction > 0) {
          if (this.slides[this.slides.length - 1] < this.slideCount) {
            this.slides.shift();
            this.slides.push(this.slides[this.slides.length - 1] + 1);
          }
        } else if (this.slides[0] > 1) {
          this.slides.pop();
          this.slides.unshift(this.slides[0] - 1);
        }
      },
      getTitle() {
        switch (this.currentStep) {
          case 1:
            return 'ПРИЧЕСКА';
          case 2:
            return 'ВЕРХ';
          case 3:
            return 'НИЗ';
          case 4:
            return 'ОБУВЬ';
          case 5:
            return 'АКСЕССУАРЫ';
          case 6:
            return 'ЗАПАХ';
          default:
            return '';
        }
      },
      getDesc() {
        switch (this.currentStep) {
          case 1:
            if (this.gender === 'F') {
              return `Опрятные волосы преображают каждую девушку — это наше секретное оружие. 
                Следи, чтобы твои волосы всегда были чистыми и аккуратно причесанными.`;
            }
            return `Отличный выбор! Прическа необязательно должна быть супер стильной: 
              просто следи, чтобы твои волосы были чистыми и аккуратно причесанными.`;
          case 2:
            if (this.gender === 'F') {
              return `Обращай внимание на гармоничное сочетание цветов в одежде: 
                подбирай цветовую гамму в зависимости от оттенка кожи, цвета глаз и волос. Это простое правило поможет тебе всегда выглядеть стильной!   `;
            }
            return `Неплохо! А что главное в одежде? Не дороговизна и не крутой бренд, а чистота и опрятность. 
              Не забудь постирать и погладить футболку, прежде чем надевать!`;
          case 3:
            if (this.gender === 'F') {
              return `Обращай внимание на гармоничное сочетание цветов в одежде: 
                подбирай цветовую гамму в зависимости от оттенка кожи, цвета глаз и волос. Это простое правило поможет тебе всегда выглядеть стильной!   `;
            }
            return `Обращай внимание на гармоничное сочетание цветов в одежде: подбирай цветовую гамму в 
              зависимости от оттенка кожи, цвета глаз и волос. Это простое правило поможет тебе всегда выглядеть стильно!`;
          case 4:
            if (this.gender === 'F') {
              return `Выбирая новую пару обуви, думай о том, с чем ты её будешь носить и 
                подходит ли она к твоему гардеробу. Следи, чтобы обувь была удобной, а нога в ней не уставала.`;
            }
            return `Модные кроссовки или простенькие туфли — не так уж важно. 
              А вот если обувь грязная, это заметят все!`;
          case 5:
            if (this.gender === 'F') {
              return 'В выборе аксессуаров главное — умеренность. Не переборщи!';
            }
            return 'В выборе аксессуаров главное — умеренность. Не переборщи!';
          case 6:
            if (this.gender === 'F') {
              return `Внешний вид может быть безупречным, но одна деталь, которая может перечеркнуть его — это запах пота. 
              Чтобы он не нарушил твои планы, принимай душ и используй дезодорант. 
              <span class="rexona-link">Роликовый дезодорант*</span> не занимает много места, и его удобно носить с собой.`;
            }
            return `Внешний вид может быть безупречным, но одна деталь, которая может перечеркнуть его — это запах пота. 
              Чтобы он не нарушил твои планы, принимай душ и используй дезодорант. <span class="rexona-link">Роликовый дезодорант*</span> не занимает много места, и его удобно носить с собой.`;
          default:
            return '';
        }
      },
      setStep() {
        if (!this.selectedItem && this.currentStep !== 5) {
          return;
        }
        if (this.currentStep === 6) {
//          console.log(this.result);
          this.activity.pers = this.result;
          this.loading = true;
          Activity.set(() => {
            this.loading = false;
//            this.$router.push('/contest');
            this.popupType = 'gameEnd';
            this.popup = true;
          });
          return;
        }
        let img;
        switch (this.currentStep) {
          case 1:
            img = this.persHead;
            break;
          case 2:
            img = this.persTop;
            break;
          case 3:
            img = this.persBottom;
            break;
          case 4:
            img = this.persShoes;
            break;
          case 5:
            img = this.persAcc;
            break;
          default:
            img = '';
        }
        this.result[this.currentStep] = {
          id: this.selectedItem,
          img,
        };
        if (((this.currentStep === 2 && this.result[this.currentStep].id === 3) ||
          (this.currentStep === 2 && this.result[this.currentStep].id === 4)) &&
           this.gender === 'F') {
          this.currentStep += 2;
        } else {
          this.currentStep += 1;
        }
        this.config();
      },
      toPrevStep() {
        if (((this.currentStep === 4 && this.result[2].id === 3) ||
          (this.currentStep === 4 && this.result[2].id === 4)) &&
           this.gender === 'F') {
          this.currentStep -= 2;
        } else {
          this.currentStep -= 1;
        }
        this.config();
      },
    },
    computed: {
      mosreg() {
        return window.location.href.indexOf('mosreg') > -1;
//        return true;
      },
      window() {
        return window;
      },
    },
    beforeDestroy() {
      document.removeEventListener('click', this.clickHandler);
    },
  };
</script>

<style>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';
  
  .game-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/img/b-bg.png);
    background-size: 777px 100%;
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;
  }
  
  .game-container--girl {
    background-image: url(../assets/img/g-bg.png);
  }

  .game-content {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;    
    padding-top: 90px;
  }

  .game-left {
    position: relative;
    flex-grow: 1;
    padding: 50px 0 0 38px;
  }

  .game__title {
    color: rgba(255,255,255,.4);
    font-size: 130px;
    font-weight: 900;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  .slider-item {
    width: 190px;
    height: 190px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    margin-right: 9px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    position: relative;
    vertical-align: top;
    padding: 19px 0 15px 0;
    box-sizing: border-box;
  }
  
  .slider-img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .slider-bullet {
    width: 14px;
    height: 14px;
    background: #C8EAFD;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  
  .slider-bullet--active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: -4px 0 0 -4px;
    background: #289EFC;
  }
  
  .slider-item:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  }

  .game-slider {
    margin-top: 50px;
  }

  .game__desc {
    line-height: 1.2;
    font-size: 24px;
    max-width: 586px;
    margin: 0;
    position: relative;
    z-index: 2;
  }

  .pers {
    position: relative;
    width: 235px;
    height: 540px;
  }

  .pers__head {
    position: absolute;
    top: 0;
    left: 71px;
  }

  .pers__top {
    position: absolute;
    top: 108px;
    left: 0;
    z-index: 1;
  }
  
  .pers__bottom {
    position: absolute;
    top: 225px;
    left: 78px;
  }

  .pers__shoes {
    position: absolute;
    top: 483px;
    left: 70px;
    z-index: 2;
  }
  
  .pers__shoes--3 {
    top: 488px;
    left: 83px;
  }

  .pers__acc {
    position: absolute;
    z-index: 2;
  }

  .pers__acc--g1 {
    top: 114px;
    left: 106px;
  }
  
  .slider-controls {
    display: inline-block;
    margin-left: 30px;
    margin-top: 44px;
  }

  .arrow {
    width: 50px;
    cursor: pointer;
  }

  .arrow-left {
    transform: rotate(180deg);
    margin-right: 20px;
  }
  
  .game-controls {
    margin-top: 77px;
    text-align: center;
  }

  .prev-step {
    float: left;
    cursor: pointer;
  }
  
  .progressbar-container {
    position: absolute;
    bottom: 11px;
    left: -130px;
  }

  .progressbar__score {
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
  }

  .progressbar-line {
    width: 150px;
    height: 20px;
    position: relative;
    background: #fff;
    border-radius: 100px;
    margin-top: 10px;
    overflow: hidden;
  }

  .game-right {
    position: relative;
  }

  .progressbar-progress {
    position: absolute;
    height: 20px;
    left: 0;
    top: 0;
    border-radius: 100px 0 0 100px;
    background: #289EFC;
  }
  
  .pers__head--boy {
    top: -11px;
    z-index: 2;
  }

  .pers__top--boy {
    top: 123px;
    left: -11px;
  }

  .pers__shoes--boy {
    top: 515px;
    left: 60px;
  }

  .pers__bottom--boy {
    top: 293px;
    left: 82px;
  }
  
  .pers__acc--b1 {
    top: 276px;
    left: 176px;
  }
  
  .pers__acc--b2 {
    top: 55px;
    left: 78px;
  }

  .pers__acc--b3 {
    top: 111px;
    left: 77px;
  }
  
  .pers__acc--g3 {
    top: 105px;
    left: 81px;
  }

  .pers__acc--g2 {
    top: 50px;
    left: 82px;
  }
  
  .rexona-img {
    margin: 20px auto;
    display: block;
    cursor: pointer;
    width: 120px;
  }
  
  .pers__des--g {
    position: absolute;
    top: 239px;
    left: 136px;
    z-index: 2;
    width: 27px;
    transform: rotate(-40deg);
  }
  
  .pers__des--b {
    top: 280px;
    position: absolute;
    left: 149px;
    z-index: 2;
    transform: rotate(-28deg);
    width: 37px;
  }
  
  .rexona-link {
    text-decoration: underline;
    color: #0478d4;
    cursor: pointer;
  }
  
  .social-container--game {
    position: absolute;
    top: -55px;
    right: -30px;
    display: flex;
    align-items: center;
  }
  
  .social-icon--game {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .social-icon--game--vk {
    background-image: url(../assets/img/vk.png);
  }  
  
  .social-icon--game--ok {
    background-image: url(../assets/img/ok.png);
  }
  
  @media (max-width: 1920px) {
    .game-container {
      background-size: 826px 100%;
    }
  }
  
  @media (max-width: 1600px) {
    .game-container {
      background-size: 777px 100%;
    }
  }
  
  @media (max-width: 1280px) {
    .game-container {
      background-size: 660px 100%;
    }
  }
</style>