<template>
  <div class="header">
   <div class="header__content">
     <a href="https://www.rexona.com/ru/sweat-zone.html?utm_medium=display&utm_source=dnevnik&utm_campaign=L-Unilever_Rexona_Dnevnik_oct-nov2017_CH1118_BH0413_RU&utm_term=unilever&utm_content=sp" target="_blank" class="rexona-logo-container">
       <img :src="`${cdn}rexona-logo.png`" alt="" class="rexona-logo">
     </a>
     <a href="https://dnevnik.ru/" class="dn-logo-container" v-if="!mosreg">
       <img :src="`${cdn}logo.png`" alt="" class="dn-logo">
     </a>
     <ul class="menu">
       <li class="menu__item" 
         :class="[active === 'main' ? 'menu__item--active' : '']"  
         @click="$router.push('/')">
         ГЛАВНАЯ
       </li>
       <li class="menu__item"
         :class="[active === 'game' ? 'menu__item--active' : '']"  
         @click="$router.push('/game')">
         Создай персонажа
       </li>
       <li class="menu__item" 
         :class="[active === 'contest' ? 'menu__item--active' : '']" 
         @click="$router.push('/contest')">
         Советы
       </li>
       <li class="menu__item" 
         :class="[active === 'schedule' ? 'menu__item--active' : '']" 
         @click="$router.push('/schedule')">
         Мой идеальный день
       </li>
<!--
       <li class="menu__item">
         <a class="link-rules" target="_blank" href="https://ad.csdnevnik.ru/special/staging/rexona/Мой идеальный день.pdf?v2.0">
           Правила
         </a>
       </li>
-->
     </ul>
   </div>
  </div>
</template>

<script>
  import appOptions from '../assets/js/settings';

  export default {
    name: 'headerBlock',
    props: {
      active: String,
    },
    data() {
      return {
        cdn: appOptions.cdnPath,
      };
    },
    computed: {
      mosreg() {
        return window.location.href.indexOf('mosreg') > -1;
//        return true;
      },
    },
  };
</script>

<style>
  .header__content {
    max-width: 1200px;
    margin: auto;
    padding: 16px 0 0 0;
    position: relative;
    z-index: 10;
  }

  .rexona-logo {
    width: 43px;
    cursor: pointer;
  }

  .menu {
    display: inline-block;
    float: right;
    margin-right: 37px;
  }

  .dn-logo {
    width: 33px;
    cursor: pointer;
    float: right;
    margin-top: 7px;
  }

  .menu__item {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    border-radius: 100px;
    padding: 17px 18px 13px;
    border: 3px solid transparent;
    cursor: pointer;
  }

  .menu__item--active {
    color: #fff;
    border-color: #fff;
  }
</style>