<template>
  <div class="main">
    <HeaderBlock active="main"/>
    
    <div class="main-content">
      <div class="main-section">
        <div class="main-section-content">
          <div class="main-text">
            <div class="main-text__thin">ТВОЯ УВЕРЕННОСТЬ —</div>
            <div class="main-text__thick">ТВОЯ СИЛА</div>
<!--
            <div class="main-text__small medium">
              Участвуй в конкурсе от Rexona и выиграй призы, о которых мечтают все:
            </div>
            <div class="main-text__small bold">
              гироскутер!
            </div>
-->
          </div>
          <div class="main-slider">
            <div class="main-slider__bg"></div>
            <!--<transition name="slider" mode="out-in">
              <img v-if="activeSlide === 1" :src="`${cdn}s1.png`" key="1" class="slide slide1">
            </transition>-->
          </div>
          <div class="social-container">
<!--            <a class="social-icon social-icon--insta"></a>-->
            <a target="_blank" :href="gender === 'M' ? 'https://vk.com/rexonamen' : 'https://vk.com/rexona'" class="social-icon social-icon--vk"></a>
<!--            <span class="social-icon social-icon--tw"></span>-->
            <a target="_blank" href="https://www.facebook.com/RexonaRU" class="social-icon social-icon--fb"></a>
            <a target="_blank" href="https://www.youtube.com/user/rexonarussia" class="social-icon social-icon--yt"></a>
          </div>
        </div>
        
        <div class="agile-section">
          <div class="agile__text">Хочешь легко заводить друзей, быть классным и добиваться желаемого?</div>
          <div class="agile__text-large">Пора мечтать, действовать и быть уверенным в своих силах!</div>
          <div class="arrow-container" @click="goTo('.section__2')">
            <img :src="`${cdn}arrow-down.png`" class="arrow-down">
          </div>
        </div>
      </div>
      <div class="content-section">
        <div class="content-section-inner">
         <div class="section section__3">
            <div class="section__3-bg"></div>
            <div class="section-content">
              <div class="section-img-container">
                <div class="rotate-block">
                  <div class="rotate-block__letters">ИДЕАЛЬНЫЙ ДЕНЬ</div>
                  <div class="rotate-block__line"></div>
                </div>
                <img :src="`${cdn}main-img3.jpg`" alt="" class="section__3-img">
              </div>
              <div class="section__1-text-container">
                <img :src="`${cdn}clock.png`" alt="" class="section__3-text__icon">
                <div class="section__1-text__title">«Мой идеальный день»</div>
                <div class="section__1-text__text">
                  Только то, что ты действительно любишь делать. Составь расписание своего идеального дня!
                </div>
                <button class="rexona-btn" @click="$router.push('/schedule')">ИГРАТЬ!</button>
<!--
                <div class="disclamer">
                  Информация об организаторе конкурса, правилах его проведения, количестве призов по результатам его проведения, сроках, месте и порядке и получения смотрите в <a href="https://ad.csdnevnik.ru/special/staging/rexona/Мой идеальный день.pdf?v2.0" target="_blank" class="disclamer__link">правилах конкурса.</a> Срок проведения с 10 ноября 2017 г. по 31 января 2018 г. Заявки принимаются с 10 декабря 2017 г по 29 декабря 2017 г.
                </div>
-->
              </div>
            </div>
          </div>
                    
          <div class="section section__2">
            <div class="section__2-bg"></div>
            <div class="section-content">
              <div class="section__2-text-container">
                <img :src="`${cdn}present.png`" alt="" class="section__2-text__icon">
                <div class="section__1-text__title">«Чтобы чувствовать себя уверенно, я...»</div>
                <div class="section__1-text__text">
                  Поделись своими секретами уверенности!
                </div>
                <button class="rexona-btn" @click="$router.push('/contest')">ИГРАТЬ!</button>
<!--
                <div class="disclamer">
                  Информация об организаторе конкурса, правилах его проведения, количестве призов по результатам его проведения, сроках, месте и порядке и получения смотрите в <a href="https://ad.csdnevnik.ru/special/staging/rexona/Правила конкурса.pdf?v2.0" target="_blank" class="disclamer__link">правилах конкурса.</a> Срок проведения с 10 ноября 2017 г. по 31 января 2018 г. Заявки принимаются с 10 ноября 2017 г по 10 декабря 2017 г.
                </div>
-->
              </div>
              
              <div class="section-img-container">
                <div class="rotate-block rotate-block--2">
                  <div class="rotate-block__letters">СОВЕТЫ</div>
                  <div class="rotate-block__line"></div>
                </div>
                <img :src="`${cdn}main-img2.jpg`" alt="" class="section__1-img">
              </div>
            </div>
          </div>
          <div class="section section__1">
            <div class="section__1-bg"></div>
            <div class="section-content">
              <div class="section-img-container">
                <div class="rotate-block">
                  <div class="rotate-block__letters">ИГРА</div>
                  <div class="rotate-block__line"></div>
                </div>
                <img :src="`${cdn}main-img1.jpg`" alt="" class="section__1-img">
              </div>
              <div class="section__1-text-container">
                <img :src="`${cdn}glasses.png`" alt="" class="section__1-text__icon">
                <div class="section__1-text__title">СОЗДАЙ СВОЙ УВЕРЕННЫЙ ОБРАЗ!</div>
                <div class="section__1-text__text">
                  Используй лайфхаки по созданию стильного образа и собери персонажа на важное мероприятие!
                </div>
                <button class="rexona-btn" @click="$router.push('/game')">ИГРАТЬ!</button>
<!--
                <div class="disclamer">
                  Информация об организаторе конкурса, правилах его проведения, количестве призов по результатам его проведения, сроках, месте и порядке и получения смотрите в <a href="https://ad.csdnevnik.ru/special/staging/rexona/Правила конкурса.pdf?v2.0" target="_blank" class="disclamer__link">правилах конкурса.</a> Срок проведения с 10 ноября 2017 г. по 31 января 2018 г. Заявки принимаются с 10 ноября 2017 г по 10 декабря 2017 г.
                </div>
-->
              </div>
            </div>
          </div>
          

          
        </div>
      </div>
      <Loader v-if="loading"/>
      <Popup 
        v-if="popup"  
        @close="popup = false"
        :type="popupType"/>
    </div>
  </div>
</template>

<script>
  import appOptions from '../assets/js/settings';
  import Auth from '../assets/js/auth';
  import API from '../assets/js/api';
  import Cookie from '../assets/js/cookie';
//  import Activity from '../js/activity';
  import HeaderBlock from './Header';
  import Popup from './Popup';
  import Loader from './Loader';
  
  export default {
    name: 'mainPage',
    data() {
      return {
        cdn: appOptions.cdnPath,
        activeSlide: 1,
        loading: false,
        popup: false,
        popupType: '',
        user: {},
        gender: 'M',
      };
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
    },
    created() {
      window.scroll({ top: 0, left: 0 });
//      setInterval(() => {
//        this.activeSlide = this.activeSlide === 3 ? 1 : this.activeSlide += 1;
//      }, 4000);
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
    },
    methods: {
      goTo(el) {
        window.scroll({ top: this.$el.querySelector(el).offsetTop, left: 0, behavior: 'smooth' });
      },
      checkSession() {
//        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          API.getUserInfo((data) => {
            /* eslint-disable */
//          API.getKeysFromDB({
//            label: appOptions.provider + '-activity',
//            pageSize: 100,
//            pageNumber: 1
//          }, function (data) {
//            if (data.Paging.next) {
//              API.getRecursivePage(data.Paging.next, function (dataR) {
//                var dataR1 = dataR.Keys;
//                var count = [];
//
//                for (var i = 0; i < dataR1.length; i++) {
//                  var json = JSON.parse(dataR1[i].Value);
//                  if (json.schedule) {
//                    count.push(json);
//                  }
//                }
//                console.clear();
//                console.log(JSON.stringify(count));
//              }, data);
//            }
//
//          });
          /* eslint-enable */
            this.loading = false;
            this.user = data;
            this.gender = this.user.sex[0];
//            this.gender = 'M';
            const bDay = new Date(data.birthday).getTime();
            if (new Date().getTime() - bDay < 14 * 31536000000) {
              this.popupType = 'age';
              this.popup = true;
            }
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
          this.loading = false;
        }
      },
    },
    computed: {
      mosreg() {
        return window.location.href.indexOf('mosreg') > -1;
//        return true;
      },
      contentStarted() {
        return false;
      },
    },
  };
</script>

<style>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';

  .main-section-content {
    max-width: 1200px;
    margin: auto;
    padding: 70px 0 0 0;
    position: relative;
  }

  .main-section {
    background: #A1D2FF;
  }

  .main-text {
    padding: 45px 184px 45px 63px;
    border: 6px solid #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  .main-text__thin {
    color: #1C295C;
    font-weight: 300;
    font-size: 36px;
    line-height: 41px;
  }

  .main-text__thick {
    color: #fff;
    font-weight: 900;
    font-size: 74px;
  }

  .main-text__small {
    max-width: 550px;
    font-size: 24px;
    line-height: 1.1;
    margin-top: 10px;
  }
  
  .main-slider {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  
  .main-slider__bg {
    position: absolute;
    background: linear-gradient(90deg, #2DC19A 0%, #85DBC4 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 0;
    width: 541px;
    height: 309px;
    top: 130px;
    left: -130px;
  }
  
  .slide {
    position: absolute;
    z-index: 2;
  }

  .slide1 {
    top: 24px;
    left: -158px;
  }
  
  .slide2 {
    top: -49px;
    left: -71px;
  }
  
  .slide3 {
    top: 30px;
    left: -154px;
  }
  
  .slider-enter-active, .slider-leave-active {
    transition: opacity .3s
  }
  
  .slider-enter, .slider-leave-to {
    opacity: 0
  }
 
  
  .social-icon--insta {
    background-position: 0 0;
  }
  
  .social-icon--tw {
    background-position: -87px 0;
  }

  .social-icon--fb {
    background-position: 56px 0;
  }

  .social-icon--yt {
    background-position: 21px 0;
  }
  
  .social-container {
    position: absolute;
    top: 70px;
    right: -60px;
  }
  
  .agile-section {
    background: url(../assets/img/s2_bg.png);
    background-size: cover;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 90px 0 55px;
    margin-top: 30px
  }
  
  .agile__text {
    font-size: 28px;
    color: #FFFFFF;
    transform: rotate(-2.34deg);
  }

  .agile__text-large {
    color: #FFFFFF;
    transform: rotate(-2.34deg);
    font-size: 36px;
    font-weight: 700;
    margin-top: 17px;
  }

  .arrow-container {
    display: inline-flex;
    position: relative;
    background: rgba(255, 255, 255, 0.43);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 40px;
  }

  .arrow-down {
    width: 38px;
    transition: all .3s;
  }
  
  .arrow-container:hover > .arrow-down {
    width: 43px;
  }
  
  .content-section {
    background: #fff;
    position: relative;
    margin-top: -51px;
    padding-top: 100px;
  }

  .section__1-bg {
    position: absolute;
    left: 0;
    top: 255px;
    width: 53%;
    background: linear-gradient(270deg, #7CC5FF 1.66%, #0070EF 100%), #F3F3F3;
    height: 220px;
    z-index: 0;
  }
  
  .section__2-bg {
    position: absolute;
    right: 0;
    top: 275px;
    width: 53%;
    background: linear-gradient(270deg, #FFA1CF 4.42%, #FF4391 98.9%);
    height: 200px;
    z-index: 0;
  }

  .section__3-bg {
    position: absolute;
    left: 0;
    top: 275px;
    width: 53%;
    background: linear-gradient(270deg, #9A95FF 1.66%, #4A39FF 100%);
    height: 200px;
    z-index: 0;
  }

  .section {
    position: relative;
  }

  .section-content {
    max-width: 1200px;
    margin: auto;
    z-index: 1;
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rotate-block {
    display: flex;
    vertical-align: top;
    align-items: baseline;
    width: 440px;
    transform: rotate(90deg);
    position: absolute;
    top: 201px;
    left: -256px;
  }
  
  .rotate-block--2 {
    left: unset;
    right: -256px;
  }

  .rotate-block__letters {
    font-size: 34px;
    color: #000000;
    display: inline-block;
    font-weight: 700;
  }

  .rotate-block__line {
    height: 6px;
    flex-grow: 1;
    background: #000;
    margin-left: 9px;
  }
  
  .section-img-container {
    position: relative;
    display: inline-block;
  }
  
  .section__1-text-container {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 80px;
  }
  
  .section__2-text-container {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 80px;
  }

  .section__1-text__icon {
    width: 107px;
    margin-bottom: 30px;
  }

  .section__1-text__title {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 26px;
    max-width: 341px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .section__1-text__text {
    font-size: 20px;
    max-width: 386px;
    line-height: 23px;
    margin-bottom: 40px;
  }
  
  .section__2, .section__1 {
    margin-top: 160px;
  }
  
  .section__1 {
    padding-bottom: 87px;
  }
  
  .section__2-text__icon {
    width: 68px;
    margin-bottom: 30px;
  }
  
  .section__3-text__icon {
    width: 84px;
    margin-bottom: 30px;
  }
  
  .contest-anonce {
    font-weight: 700;
    font-size: 20px;
    color: #A6A6A6;
  }
  
  .disclamer {
    margin-top: 10px;
    padding: 0 10px;
    font-size: 12px;
    max-width: 360px;
    color: rgba(0,0,0,.5);
  }
  
  .disclamer__link {
    text-decoration: underline;
  }
</style>
