<template>
  <div class="overlay">
    <div class="modal">
<!--
      <div class="modal__header">
        {{ title }}
        <div v-if="type !== 'auth'" class="modal__close" @click="$emit('close')">
          <img :src="`${cdn}close-popup.png`" alt="" class="modal__close-img">
        </div>
      </div>
-->
      <template v-if="type === 'auth'">
        <div class="modal__body"> 
          <div class="auth__text">Для продолжения необходимо авторизоваться.</div>
          <button class="rexona-btn auth__btn" @click="buttonClick">Авторизация</button>
        </div>  
      </template>
      <template v-if="type === 'age'">
        <div class="modal__body"> 
          <div class="auth__text">Проект предназначен для лиц старше 14 лет</div>
        </div>  
      </template>
      <template v-if="type === 'gameStart'">
        <div class="modal__body"> 
          <div class="start__text" v-if="gender === 'M'">
            Ты собираешься на экзамен, день рождения друга или на свидание. Что самое необходимое, на твой взгляд? Нам кажется, что очень важно быть на 100% уверенным в себе! 
            <br>Уверенность — первый шаг к успеху в любом деле. 
            <br>Что наденешь? Чем подчеркнешь свою индивидуальность? Собери своего персонажа, используя наши подсказки!
          </div>
          <div class="start__text" v-else>
            Ты собираешься на экзамен, день рождения подруги или на свидание. Что самое необходимое, на твой взгляд? Нам кажется, очень важно быть на 100% уверенной в себе! 
            <br>Уверенность — первый шаг к успеху в любом деле. 
            <br>Что наденешь? Чем подчеркнешь свою индивидуальность? Собери своего персонажа, используя наши подсказки!
          </div>
          <div class="start__disclamer">
            Конструктор образа задуман в игровой форме и не является строгим сводом правил
          </div>
          <button class="rexona-btn auth__btn" @click="$emit('close')">Начать!</button>
        </div>  
      </template>
      <template v-if="type === 'gameEnd'">
        <div class="modal__body"> 
          <div class="end__titile">
            Конкурс «Чтобы чувствовать себя уверенно, я…»
          </div>
          <div class="end__text">
            Отлично! Ты выглядишь на все 100. Чтобы быть на высоте, нужен последний штрих – заряд уверенности в себе и настрой на успех.<br>
            Какие секреты уверенности в себе есть у тебя? Делись с другими и выиграй <span class="bold">сноуборд, электросамокат или гироскутер!</span>
          </div>
          <button class="rexona-btn auth__btn" @click="$router.push('/contest');">Участвовать</button>
        </div>  
      </template>
      <template v-if="type === 'des'">
        <div class="modal__body"> 
          <div class="start__text">
            Дезодорант любого формата рекомендуется к использованию с 14 лет. 
            <br>Меры предосторожности: не использовать в закрытых помещениях; не вдыхать; избегать попадания в глаза.
          </div>
          <button class="rexona-btn auth__btn" @click="$emit('close')">Понятно</button>
        </div>  
      </template>
    </div>
  </div>
</template>


<script>
  import appOptions from '../assets/js/settings';
  import Auth from '../assets/js/auth';
//  import API from '../assets/js/api';

  export default {
    name: 'popup',
    props: {
      type: String,
      gender: String,
    },
    data() {
      return {
        cdn: appOptions.cdnPath,
        top: 0,
        left: 0,
        overflow: '',
      };
    },
    computed: {
      mosreg() {
        return window.location.href.indexOf('mosreg') > -1;
//        return true;
      },
      title() {
        switch (this.type) {
          case 'auth':
            return 'Авторизация';
          default:
            return '';
        }
      },
    },
    methods: {
      setCenter() {
        const w = this.$el.children[0].clientWidth;
        const h = this.$el.children[0].clientHeight;
        this.$el.children[0].style.marginTop = `-${parseInt(h / 2, 10)}px`;
        this.$el.children[0].style.marginLeft = `-${parseInt(w / 2, 10)}px`;
        this.overflow = document.body.style.overflow;
        document.body.style.overflow = 'hidden';
      },
      buttonClick() {
        if (this.type === 'auth') {
          Auth.auth();
        }
      },
    },
    mounted() {
      this.setCenter();
    },
    ready() {
      window.addEventListener('resize', this.setCenter);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.setCenter);
      document.body.style.overflow = this.overflow;
    },
  };
</script>


<style>
  @import '../assets/css/common.css';
  @import '../assets/css/reset.css';
  
  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(43, 43, 43, 0.28);
    z-index: 9999;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 14px;
    padding: 30px 50px;
    text-align: center;
    max-width: 600px;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .auth__text {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .start__text {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .start__disclamer {
    margin: 20px -50px;
    padding: 20px 40px;
    background: rgba(255, 138, 128, 0.68);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.2;
  }
  
  .end__titile {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .end__text {
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 25px;
  }
</style>