<template>
   <div class="main">
    <HeaderBlock active="schedule"/>
    
    <div class="section-header">
      <div class="contest-header-container">
      <div class="contest-header">
<!--
        <div class="header-thin">
          КОНКУРС
        </div>
-->
        <div class="header-thick">
         «МОЙ ИДЕАЛЬНЫЙ ДЕНЬ»
        </div>
        <div class="header-text">
          Представь свой идеальный день, составь для него расписание и 
          поделись им с друзьями!     
        </div>
      </div>
      <div class="content-slider-container">
<!--        <div class="contest-slider__title">Победитель конкурса:</div>-->
        <div class="contest-slider">
          <div class="contest-slider__title">Победитель конкурса:</div>
          <div class="winner"><a href="https://dnevnik.ru/user/user.aspx?user=222681" target="_blank">Ольга Матыкина</a></div>
<!--
          <transition name="slider" mode="out-in">
            <img :src="`${cdn}s1.png`" key="2" class="slide contest-slide1">
          </transition>
-->
<!--
          <div class="bullets-container">
            <div class="bullet" :class="[activeSlide === 1 ? 'bullet-active' : '']"></div>
            <div class="bullet" :class="[activeSlide === 2 ? 'bullet-active' : '']"></div>
          </div>
-->
<!--
          <div class="arrows-container">
            <img :src="`${cdn}arrow-right.png`" @click="getSlide(-1)" class="arrow arrow-left">
            <img :src="`${cdn}arrow-right.png`" @click="getSlide(1)" class="arrow arrow-right">
          </div>
-->
        </div>
      </div>
      <div class="arrow-container" @click="goTo('.contest-input-container')">
        <img :src="`${cdn}arrow-down.png`" class="arrow-down">
      </div>
    </div>
    </div>
    
    <div class="contest-input-container" v-if="!hasSchedule">
      <div class="schedule-container">
        <img :src="`${cdn}add.png`" @click="schedule.morning.push({ hours: '07', min: '00', text: '' })" class="schedule__add">
        <div class="schedule__title">Утро</div>
        <div class="schedule__item schedule__item--1" v-for="item, index in schedule.morning">
          <div class="schedule__item-remove" v-if="index > 0" @click="schedule.morning.splice(index, 1)">x</div>
          <div class="schedule__item-text-container">
            <div class="schedule__item-text">Выберите время </div>
            <select class="schedule__item-select" v-model="item.hours">
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
            </select>
            <select class="schedule__item-select" v-model="item.min">
              <option value="00">00</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="schedule__item-text-container schedule__item-text-container--large">
            <div class="schedule__item-text">Напишите ваше занятие</div>
            <input type="text"  @focus="item.warn = 0; warnMessage = '';" @blur="item.warn = item.text.length === 0 ? 1 : 0" :class="item.warn === 1 ? ['schedule__item-text--warn', 'schedule__item-input'] : 'schedule__item-input'" v-model="item.text" autofocus>
          </div>
        </div>
      </div>
      
      <div class="schedule-container">
        <img :src="`${cdn}add.png`" @click="schedule.day.push({ hours: '12', min: '00', text: '' })" class="schedule__add">
        <div class="schedule__title">День</div>
        <div class="schedule__item schedule__item--2" v-for="item, index in schedule.day">
          <div class="schedule__item-remove" v-if="index > 0" @click="schedule.day.splice(index, 1)">x</div>
          <div class="schedule__item-text-container">
            <div class="schedule__item-text">Выберите время </div>
            <select class="schedule__item-select" v-model="item.hours">
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
            </select>
            <select class="schedule__item-select" v-model="item.min">
              <option value="00">00</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="schedule__item-text-container schedule__item-text-container--large">
            <div class="schedule__item-text">Напишите ваше занятие</div>
            <input type="text"  @focus="item.warn = 0; warnMessage = '';" @blur="item.warn = item.text.length === 0 ? 1 : 0" :class="item.warn === 1 ? ['schedule__item-text--warn', 'schedule__item-input'] : 'schedule__item-input'" v-model="item.text" autofocus>
          </div>
        </div>
      </div>
      
      <div class="schedule-container">
        <img :src="`${cdn}add.png`" @click="schedule.evning.push({ hours: '17', min: '00', text: '' })" class="schedule__add">
        <div class="schedule__title">Вечер</div>
        <div class="schedule__item schedule__item--3" v-for="item, index in schedule.evning">
          <div class="schedule__item-remove" v-if="index > 0" @click="schedule.evning.splice(index, 1)">x</div>
          <div class="schedule__item-text-container">
            <div class="schedule__item-text">Выберите время </div>
            <select class="schedule__item-select" v-model="item.hours">
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
            </select>
            <select class="schedule__item-select" v-model="item.min">
              <option value="00">00</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="schedule__item-text-container schedule__item-text-container--large">
            <div class="schedule__item-text">Напишите ваше занятие</div>
            <input type="text" v-model="item.text" @focus="item.warn = 0; warnMessage = '';" @blur="item.warn = item.text.length === 0 ? 1 : 0" :class="item.warn === 1 ? ['schedule__item-text--warn', 'schedule__item-input'] : 'schedule__item-input'" autofocus>
          </div>
        </div>
      </div>
      <div class="contest__warn">{{ warnMessage }}</div>
      <button class="rexona-btn" @click="sendSchedule">ПОДЕЛИТЬСЯ ИДЕАЛЬНЫМ ДНЕМ</button>
    </div>
    <div class="contest-input-container" v-else>
      <div class="comments-conttainer">
        <div class="comment" v-for="item in commentList">
          <img :src="item.user.photo" alt="" class="comment__img">
          <span class="comment__date">{{ item.date }}</span>
          <span class="comment__remove" 
            v-if="admins.indexOf(activity.user.id_str) > -1" 
            @click="removeComment(item.key)">
            Удалить
          </span>
          <div class="comment__name">{{ item.user.name }}</div>
          <div class="comment__text">
            <div class="comment-schedule-item" v-for="itemSchedule in item.schedule">
              <span class="bold comment-schedule-item__bold">{{ `${itemSchedule.hours}:${itemSchedule.min}` }}</span>
              {{ itemSchedule.text }}
            </div>
          </div>
          <div class="comment__social-container">
            <div class="comment__social-like">
              <img 
                :src="activity.likedSchedule.indexOf(item.key) > -1 ? `${cdn}like-active.png` : `${cdn}like.png`" 
                class="comment__social-like-img"
                @click="likeComment(item.key)">
              <div class="comment__social-like-count">({{ item.like }})</div>
            </div>
          </div>
        </div>
      </div>  
      <div class="get-next-container" v-if="currentPage > -1">
        <button class="rexona-btn" @click="getComments">ЗАГРУЗИТЬ ЕЩЁ</button>
      </div>
    </div>
    
    <Loader v-if="loading"/>
    <Popup 
      v-if="popup"  
      @close="popup = false"
      :type="popupType"/>
   </div>
</template>

<script>
  import appOptions from '../assets/js/settings';
  import Auth from '../assets/js/auth';
  import API from '../assets/js/api';
  import Cookie from '../assets/js/cookie';
  import Activity from '../assets/js/activity';
  import HeaderBlock from './Header';
  import Loader from './Loader';
  import Popup from './Popup';

  export default {
    name: 'contest',
    data() {
      return {
        cdn: appOptions.cdnPath,
        admins: appOptions.adminIds,
        popup: false,
        popupType: '',
        loading: false,
        warnMessage: '',
        hasSchedule: false,
        currentPage: 1,
        leaveComment: false,
        commentList: [],
        activity: { user: {}, likedSchedule: [] },
        schedule: {
          morning: [
            {
              hours: '07',
              min: '00',
              text: '',
              warn: 0,
            },
          ],
          day: [
            {
              hours: '12',
              min: '00',
              text: '',
              warn: 0,
            },
          ],
          evning: [
            {
              hours: '17',
              min: '00',
              text: '',
              warn: 0,
            },
          ],
        },
      };
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
    },
    created() {
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
      window.scroll({ top: 0, left: 0 });
    },
    methods: {
      checkSession() {
        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          this.getComments();
          API.getUserInfo((data) => {
            this.loading = false;
            that.user = data;
            Activity.get(that.user, (activityData) => {
              that.activity = activityData;
              that.hasSchedule = activityData.schedule === 1;
            });
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
          this.loading = false;
        }
      },
      getSlide(direction) {
        this.stopSlider();
        if (direction > 0) {
          this.activeSlide = this.activeSlide === 2 ? 1 : this.activeSlide += 1;
        } else {
          this.activeSlide = this.activeSlide === 1 ? 2 : this.activeSlide -= 1;
        }
        setTimeout(() => {
          this.startSlider();
        }, 2000);
      },
      startSlider() {
        this.stopSlider();
        this.sliderTimer = setInterval(() => {
          this.activeSlide = this.activeSlide === 2 ? 1 : this.activeSlide += 1;
        }, 4000);
      },
      stopSlider() {
        clearInterval(this.sliderTimer);
      },
      sendSchedule() {
        this.warnMessage = '';
        const schedule = [...this.schedule.morning, ...this.schedule.day, ...this.schedule.evning];
        const hasWarn = schedule.find(item => item.warn === 1);
        if (hasWarn) {
          this.warnMessage = 'Заполните все поля!';
          return;
        }
        this.loading = true;
        this.activity.schedule = 1;
        Activity.set();
        API.addKeyToDB({
          label: `${appOptions.provider}-schedule`,
          key: `${appOptions.provider}-schedule_${new Date().getTime()}`,
          value: JSON.stringify({
            user: {
              id: this.user.id_str,
              name: `${this.user.firstName} ${this.user.lastName}`,
              photo: this.user.photoLarge,
            },
            schedule,
            like: 0,
          }),
        }, () => {
          this.loading = false;
          this.warnMessage = 'Ваш «Идеальный день» успешно опубликован!';
          this.currentPage = 1;
          this.commentList = [];
          this.getComments();
          this.hasSchedule = true;
        });
      },
      goTo(el) {
        window.scroll({ top: this.$el.querySelector(el).offsetTop, left: 0, behavior: 'smooth' });
      },
      likeComment(key) {
        if (this.activity.likedSchedule.indexOf(key) > -1) {
          this.activity.likedSchedule.splice(this.activity.likedSchedule.indexOf(key), 1);
          this.loading = true;
          API.getKeyFromDB({ key }, (res) => {
            this.loading = false;
            if (res.Value) {
              const dbComment = JSON.parse(res.Value);
              const comment = this.getCommentByKey(key);
              dbComment.like -= 1;
              comment.like = dbComment.like;
              this.setComment(comment);
              this.editComment(comment);
            }
          });
        } else {
          this.activity.likedSchedule.push(key);
          this.loading = true;
          API.getKeyFromDB({ key }, (res) => {
            this.loading = false;
            if (res.Value) {
              const dbComment = JSON.parse(res.Value);
              const comment = this.getCommentByKey(key);
              dbComment.like += 1;
              comment.like = dbComment.like;
              this.setComment(comment);
              this.editComment(comment);
            }
          });
        }
        Activity.set();
      },
      getCommentByKey(key) {
        return this.commentList.filter(item => item.key === key)[0];
      },
      setComment(comment) {
        for (let i = 0; i < this.commentList.length; i += 1) {
          if (this.commentList[i].key === comment.key) {
            this.commentList.splice(i, 1, comment);
            return;
          }
        }
      },
      editComment(comment) {
        this.loading = true;
        API.addKeyToDB({
          label: `${appOptions.provider}-schedule`,
          key: comment.key,
          value: JSON.stringify({
            user: comment.user,
            schedule: comment.schedule,
            like: comment.like,
            repost: comment.repost,
          }),
        }, () => {
          this.loading = false;
        });
      },
      removeComment(key) {
        this.loading = true;
        API.deleteKeyFromDB(key, () => {
          this.loading = false;
          const comment = this.getCommentByKey(key);
          for (let i = 0; i < this.commentList.length; i += 1) {
            if (this.commentList[i].key === comment.key) {
              this.commentList.splice(i, 1);
              return;
            }
          }
        });
      },
      getComments() {
        this.loading = true;
        API.getKeysFromDB({
          label: `${appOptions.provider}-schedule`,
          pageNumber: this.currentPage,
          pageSize: 10,
        }, (res) => {
          this.loading = false;
//          console.log(res);
          this.currentPage = res.Paging.next !== null ? this.currentPage + 1 : -1;
          for (let i = 0; i < res.Keys.length; i += 1) {
            const tmp = JSON.parse(res.Keys[i].Value);
            tmp.key = res.Keys[i].Key;
            tmp.date = this.getDate(res.Keys[i].CreatedDate);
            this.commentList.push(tmp);
          }
        });
      },
      getDate(parseDate) {
        const date = new Date(parseDate);
        return `${date.getDate()}.${(date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1)}.${date.getFullYear()}`;
      },
    },
    computed: {
      mosreg() {
        return window.location.href.indexOf('mosreg') > -1;
//        return true;
      },
    },
  };
</script>

<style scoped>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';
  
  .header, .section-header {
    background: #A1D2FF;
  }
  
  .winner {
    font-size: 25px;
    /* text-align: center; */
    margin-bottom: 19px;
    font-weight: 700;
  }
  
  .contest-slider {
    padding: 40px;
    text-align: center;
  }
  
  .section-header {
    padding: 40px 0;
/*    text-align: center;*/
  }
  
  .arrow-container {
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 0.43);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 40px auto 0 auto;
  }

  .arrow-down {
    width: 38px;
    transition: all .3s;
  }
  
  .arrow-container:hover > .arrow-down {
    width: 43px;
  }
  
  .contest-header {
    background: linear-gradient(270deg, #9A95FF 1.66%, #4A39FF 100%);
    display: inline-block;
    color: #fff;
    padding: 45px 192px 30px 40px;
  }

  .contest-header-container {
    max-width: 1200px;
    margin: auto;
  }

  .header-thin {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .header-thick {
    font-weight: 900;
    font-size: 46px;
    max-width: 655px;
    text-transform: uppercase;
    line-height: 1.3;
  }

  .header-text {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.3;
    max-width: 667px;
  }

  .header-link {
    display: inline-block;
    cursor: pointer;
    color: #0E0B2F;
    font-weight: 600;
    text-decoration-line: underline;
  }
  
  .content-slider-container {
    border: 6px solid #FFFFFF;
    display: inline-block;
    vertical-align: top;
    width: 454px;
    height: 240px;
    margin: 125px 0 0 -170px;
    position: relative;
  }
  
  .contest-slider__title {
    position: absolute;
    right: 0;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    top: -49px;
  }
  
  .slide {
    position: absolute;
  }
  
  .contest-slide2 {
    top: -172px;
    left: 22px;
  }
  
  .contest-slide3 {
    top: -66px;
    left: -62px;
  }

  .arrows-container {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 4;
  }

  .arrow {
    width: 46px;
    cursor: pointer;
  }

  .arrow-left {
    transform: rotate(180deg);
    margin-right: 15px;
  }
  
  .bullets-container {
    position: absolute;
    bottom: -28px;
    text-align: center;
    width: 100%;
  }

  .bullet {
    width: 14px;
    height: 14px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
  }

  .bullet-active {
    background: #289EFC;
  }
  
  .main {
/*    background: url(../assets/img/contest-bg.jpg);*/
    background-color: #E5E5E5;
    background-size: cover;
    background-repeat: no-repeat;
   }
  
  .contest-input-container {
    margin: 90px auto 0;
    max-width: 1100px;
    text-align: center;
    padding-bottom: 85px;
  }

  .contest__textarea {
    width: 1000px;
    height: 298px;
    border-radius: 4px;
    border: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 50px;
    box-sizing: border-box;
    font-size: 20px;
    outline: none;
/*    margin-bottom: 40px;*/
  }

  .contest__skip {
    cursor: pointer;
    color: #192B55;
    font-size: 20px;
    font-weight: 700;
    margin-top: 27px;
    display: inline-block;
  }
  
  .contest__skip:hover {
    text-decoration: underline;
  }
  
  .contest__warn {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    height: 20px;
    margin-top: 50px
  }
  
  .schedule-container {
    text-align: left;
    border-bottom: 1px solid #A1D2FF;
    padding: 50px 150px;
    position: relative;
  }
  
  .schedule__add {
    width: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -20px;
    z-index: 10;
}

  .schedule__title {
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: #5A4BFF;
    margin: 15px 30px;
  }

  .schedule__item {
    border-radius: 6px;
    display: flex;
    padding: 23px 26px 33px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .schedule__item-remove {
    position: absolute;
    top: 0;
    right: -30px;
    font-size: 24px;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    font-weight: 500;
  }
  
  .schedule__item--1 {
    background: #D4D5FF;
  }

  .schedule__item-text {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .schedule__item-select {
    font-size: 16px;
    color: #7A7878;
    border: 1px solid #A6A8ED;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 10px 25px 8px 15px;
  }

  .schedule__item-select>option {
    padding: 10px 25px 8px 15px;
    font-size: 16px;
  }

  .schedule__item-text-container--large {
    margin-left: 20px;
    flex-grow: 1;
  }

  .schedule__item-input {
    background: #FFFFFF;
    border: 1px solid #A6A8ED;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px 25px 8px 15px;
    font-size: 16px;
    width: 100%;
    color: #7A7878;
  }
  
  .schedule__item--2 {
    background: #85C1FF;
  }

  .schedule__item--3 {
    background: #FFCB7D;
  }
  
  .schedule__item-text--warn {
    border-color: red; 
  }
  
  .comment {
    /* max-width: 1115px; */
    margin: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 40px 87px 54px 230px;
    position: relative;
  }

  .comment__img {
    position: absolute;
    top: -20px;
    left: 40px;
  }

  .comment__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    position: absolute;
    top: 140px;
    left: 40px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  .comment__text {
    font-size: 18px;
    line-height: 1.2;
    min-height: 140px;
  }

  .comment__date {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 14px;
  }

  .comment__social-container {
    position: absolute;
    bottom: 20px;
    right: 40px;
  }

  .comment__social-like {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
  }

  .comment__social-repost {
    display: inline-flex;
    align-items: center;
  }

  .comment__social-like-count {
    margin-left: 8px;
    font-size: 14px;
  }

  .comment__social-like-img {
    width: 20px;
    cursor: pointer;
  }

  .comment__social-repost-img {
    width: 28px;
  }

  .comment__social-repost-count {
    font-size: 14px;
    margin-left: 8px;
  }
  
  .get-next-container {
    text-align: center;
  }
  
  .comment__remove {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    top: 20px;
    right: 40px;
    position: absolute;
  }
  
  .comments-conttainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .comment-schedule-item {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .comment-schedule-item__bold {
    width: 60px;
    display: inline-block;
    margin-right: 10px;
  }
</style>